* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}
body{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 100vh;
    background-color: #f4f4f9;
}
.side{
    width: 20%;
    height: 100vh;
    background-color: #2237a2;
    border-right: 1px solid rgb(171, 171, 171);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    padding: 10px;
    position: fixed;
}
.side hr{
    border: 0;
    height: 1px;
    background-color: #bcbcbc;
}
.back{
    width: 100%;
    padding: 20px 0;
}
.back li{
    list-style: none;
}
.back li a{
    font-weight: bold;
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
}
.nav {
    margin-top: 10px;
}
.nav li {
    list-style: none;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}
.nav a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 13px;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.nav i{
    margin-right: 10px;
}
.nav li:hover {
    background-color: rgba(255, 255, 255, 0.3);
}
.sub-dropdown{
    padding: 0px 20px;
    display: none;
}
.sub-dropdown-1{
    padding: 0px 20px;
    display: none;
}
.active{
    background-color: rgba(34, 55, 162, 0.3);
    color: #333;
}
.main{
    margin-left: 20%;
    width: 80%;
    height: 100%;
    background-color: #f4f4f9;
    padding: 20px;
}
.col-1{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.search{
    display: flex;
    align-items: center;
}
.search form{
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border: 1px solid #333;
    border-radius: 5px;
    padding: 5px;
}
.search input{
    font-size: 14px;
    border: none;
    padding: 5px;
    width: 200px;
}
.search button{
    font-size: 14px;
    border: none;
    background-color: #2237a2;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.search button:hover{
    background-color: #1a2b8c;
}
.search input:focus{
    outline: none;
}
.col-2{
    width: 100%;
    height: 90%;
    overflow-x: auto;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.col-2 table{
    width: 100%;
    border-collapse: collapse;
    table-layout: auto;
}
.col-2 th{
    padding: 10px;
    text-align: left;
    background-color: #2237a2;
    color: #ffffff;
    font-size: 10px;
    text-transform: uppercase;
}
.col-2 tr:nth-child(even){
    background-color: #f9f9f9;
}
.col-2 td{
    padding: 10px;
    text-align: left;
    font-size: 12px;
    color: #333;
    word-wrap: break-word;
    text-overflow: ellipsis;
    width: auto;
    white-space: nowrap;
}
.col-2 td img{
    width: 50px;
    height: auto;
    border-radius: 5px;
}
